name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Get secrets
      run: |
        touch .env
        echo DISCORD_TOKEN=${{ secrets.DISCORD_TOKEN }} >> .env
        echo API_URL=${{ secrets.API_URL }} >> .env

    - name: Build the Docker image
      run: docker build -t uj-discord-bot .
